<div class="mdc-typography--body2">
    Click on the "select file{{#if multiple}}s{{/if}}" button to select the file{{#if multiple}}s{{/if}} to upload and then click on the "upload" button to send {{#if multiple}}them{{else}}it{{/if}} to the server.
</div>
<div class="mdc-typography--body2">
    The {{#if multiple}}list of files{{else}}file{{/if}} that will be sent will be displayed in the area below.
</div>
<div class="content-center justify-content-space mgt30">
    <button id="select-files" class=" mdc-button mdc-button--raised">
        <div class="mdc-button__ripple"></div>
        <i class="material-icons mdc-button__icon" aria-hidden="true">folder</i>
        <span id="button-label" class="mdc-button__label">Select File{{#if multiple}}s{{/if}}</span>
    </button>
    <button id="upload-files" class="mdc-button mdc-button--raised" disabled>
        <div class="mdc-button__ripple"></div>
        <i class="material-icons mdc-button__icon" aria-hidden="true">file_upload</i>
        <span id="button-label" class="mdc-button__label">Upload</span>
    </button>
</div>
<div id="preview">
    <div class="preview mdc-typography--body2 mgt30">No file selected for the moment.</div>
</div>

{{#if multiple}}
    <input id="input-file" class="display-none" type="file" accept="{{accept}}" multiple />
{{else}}
    <input id="input-file" class="display-none" type="file" accept="{{accept}}" />
{{/if}}
<input id="api-file-endpoint" type="hidden" value="{{fileEndpoint}}">
<input id="api-file-with-chunks-endpoint" type="hidden" value="{{fileWithChunksEndpoint}}">
